.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  z-index: 4000;
}
