.header {
  position: sticky;
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  top: 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #fff;
  height: 50px;
  z-index: 100;
}

.logo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.search {
  display: flex;
  gap: 4px;
  align-items: center;
}
